* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


body{
  background-image: url(images/21229-cupcakes.jpg);
  background-attachment: fixed;
  background-size: cover;
   
}


.contenedor{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.clearfix{
  float: none;
  clear: both;
}

@font-face{
  font-family: 'miFuente2';
  src: url(fuentes/Ballpoint\ Signature.otf);
}

h1{
  text-align-last: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: 'miFuente2';
  font-size: 80px;
  color: #b9056e;
}

@font-face{
  font-family: 'miFuente3';
  src: url(fuentes/Sweety\ Strawberry.ttf);
}

h2{
  font-family: 'miFuente3';
  font-size: 40px;
  text-align-last: center;
  color: #b118cf;
}

h3{
  font-size: 36px;
  color: #b104a8;
  margin-bottom: 20px;
}

.menu-movil{
  width: 45%;
  text-align: center;
  height: auto;
  margin-top: -184px;
  right: 10px;
  position: absolute;
  border-radius: 10px;
  background: rgba(241, 19, 141, 0.658);
  display: none;
}

.menu-movil ul{
  list-style: none;
}

.menu-movil ul li{
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: serif;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
}

.menu-movil ul li a{
  text-decoration:none;
  color: rgba(255, 233, 233, 0.932);
}

.fixed{
  background-size: cover;
  position: fixed;
  height: auto;
  top: 0;
  padding-top: 5px;
  margin: auto;
}

.imagenes{
  display: inline;
  text-align: center;
}

#imagenes1{
  margin-top: 50px;
}

#imagenes1 img{
  width: 320px;
  height: 320px;
  border-radius: 5px;
  border: 5px groove rgb(235, 188, 232);
}

hr{
  border: none;
  height: 5px;
  background-color: #b9056e;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

#imagenes2 img{
height: 150px;
width: 150px;
}

#info{
display: inline-block;
background-color: #ffffff57;
}

.bio, #foto{
  width: 300px;
  height: auto;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

@font-face{
  font-family: 'miFuente';
  src: url(fuentes/Sweety\ Strawberry.ttf);
}

.bio p{
  font-size: 20px;
  text-align: justify;
  color: #3d393d;
  padding: 10px;
  font-family: 'miFuente';

}

#foto img{
  width: 250px;
  height: 350px;
  padding: 30px;
  border-radius: 50px;
}

#redes1 img{
  width: 50px;
  height: 50px;
}

#redes{
  margin-top: 50px;
}

#redes ul{
  list-style: none;
  text-align: center;
}

#redes ul li{
margin: 60px;
font-size: 16px;
color: #2e2b2e;
}


#redes ul li a{
  text-decoration: none;
  font-size: 20px;
  color: #b104a8;
  font-family: 'miFuente';
}

#redes ul li img{
  width: 60px;
  height: 60px;
  margin-bottom: -20px;
}

.firma{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

/*galeria*/


#volver a{
  text-decoration: none;
  color: #b104a8;
  transition: all 500ms ease;
  cursor: pointer;
  font-family: 'miFuente3';
}

#volver a:hover {
  text-decoration: none;
  color: rgb(158, 233, 83);
}
.volver-fixed{
  border-radius: 10px;
  background-size: cover;
  position: fixed;
  height: auto;
  top: 15px;
  background: #dfcddea9;
}


.galeria img{
  width: 350px;
  height: 350px;
  border-radius: 6px;
}

.menu-toggle{
  padding: 1em;
  position: fixed;
  top: .3em;
  right: .5em;
  background: rgb(241, 19, 141);
  border-radius: 5px;
}

.hamburger,
.hamburger::before,
.hamburger::after{
  content: '';
  display: block;
  background: white;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
}

.hamburger::before{
  transform: translateY(-6px);
}

.hamburger::after{
  transform: translateY(3px);
}

